{% extends 'base.html.twig' %}

{% block title %}Parse index{% endblock %}

{% block body %}
        <a class="m-2" href="{{ path('app_instagram_new') }}">Parse New User</a>

        {# Display #}
        {% for user in users %}
            {{ include('instagram_user_parser/table.html.twig') }}
        {% endfor %}
{% endblock %}